{% extends 'base.html.twig' %}

{% block title %}dmclothing!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{# <div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/dmclothing.symfony/dmclothing/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/dmclothing.symfony/dmclothing/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div> #}
 <div class="imageheader1">
      {# <img src="images/burgess-milner-OYYE4g-I5ZQ-unsplash 1.png" alt=""> #}
       
    </div>
  
    
     <!-- <a href="homme.femme.html"><div class="milieu" align="center"><em>profitez de 30% de remise sur toute votre premier achat sur notre site!</em></div></a> -->
     <div class="imageheader2">
      <div class="img4">
        <img src="{{ asset('/images/pass22.jpg')}}" alt="">
      </div>
      <div class="img5">
        <img src="{{ asset('images/p1.webp')}}" alt="">
      </div>
      <div class="img6">
        <img src="{{ asset('/images/pass55.jpg')}}" alt="">/
      </div> 
    </div>
    <div class="imageheader3">
      <div class="img1">
        <img src="{{ asset('/images/pass44.jpg')}}" alt="">
      </div>
      <div class="img2">
        <img src="{{ asset('/images/t1.jpg')}}" alt="">
      </div>
      <div class="img3">
        <img src="{{ asset('/images/k.o.png')}}" alt="">
      </div> 
    </div>
    </div>
{% endblock %}
 
