{% extends 'back.html.twig' %}

{% block title %}dmclothing{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<table>
                   <thead>
                       <tr>
                           <th>Nom</th>
                           <th>Prenom</th>
                           <th>Adressemail</th>
                           <th>Message</th>
                           <th>Action</th>
                       </tr>
                   </thead>
                   <tbody>
                       {% for contact in contacts %}
                       <tr>
                           <td>{{ contact.nom }}</td>
                           <td>{{contact.prenom}}</td>
                           <td>{{ contact.adressemail }}</td>
                           <td>{{ contact.message }}</td>

                           
                              <td>
                                  <button> <a href="{{ path('contact_edit', {id: contact.id}) }}" class="btn btn-primary">Modifier</a></button>
                                 <button>  <a href="{{ path('contact_delete', {id: contact.id}) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this contact?')">supprimer</a></button>
                                    <button><a href="mailto: {{ contact.adressemail }}">répondre</a></button>    
                              </td> 
                                
                                

                       </tr>
                       {% endfor %}
                   </tbody>
               </table>
               {% endblock %}